@page
@model GreenMVC.Pages.ProductPages.DetailsModel


@{
    ViewData["Title"] = "Detalhes do Produto";
}

<div class="title-pages">
    @ViewData["title"]
</div>
<div class="row">
    <div class="col-md-12 col-lg-9">
        <div class="card-create">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="name" class="control-label">Nome </label>
                    <h3 id="name" name="name">@Html.DisplayFor(model => Model.Product.Name)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="sustainable" class="control-label">Material Sustent&aacute;vel</label>
                    <div>
                        <label class="form-switch">
                            <input type="checkbox" id="sustainable" name="Sustainable" @Html.Raw(Model.Product.Sustainable ? "checked" : "") disabled>
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="col-md-6 category form-group">
                    <label for="listbox1" class="control-label" aria-label="Selecione a categoria">Categoria </label>
                    <h3 id="category" name="category">@Html.DisplayFor(model => Model.Product.Category.Name)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="size" class="control-label">Tamanho </label>
                    <h3 id="size" name="size">@Html.DisplayFor(model => Model.Product.Size)</h3>
                </div>
                <div class="col-md-6 form-group">
                    <label for="amount" class="control-label">Quantidade </label>
                    <h3 id="amount" name="amount">@Html.DisplayFor(model => Model.Product.Amount)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="referenceCode" class="control-label">REF </label>
                    <h3 id="referenceCode" name="referenceCode">@Html.DisplayFor(model => Model.Product.ReferenceCode)</h3>
                </div>
                <div class="col-md-6 form-group">
                    <label for="sku" class="control-label">SKU </label>
                    <h3 id="sku" name="sku">@Html.DisplayFor(model => Model.Product.SKU)</h3>
                </div>
            </div>
            <div class="generic-btn-box">
                <a class="btn btn-generic m-0"
                   asp-page="./Index"><span class="material-icons">arrow_back</span><span class="back">Voltar</span></a>
                <a class="btn btn-generic m-0"
                   asp-page="/ProductPages/Edit"
                   asp-route-id="@Model.Product.ProductId"><span class="material-icons">edit</span>Editar</a>
                <a class="btn btn-danger delete m-0"
                   asp-page="/ProductPages/Delete"
                   asp-route-id="@Model.Product.ProductId"><span class="material-icons">delete</span>Excluir</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3">
        <div class="product-img">
            <img id="product-image" src="@(Model.Product.ImageUrl != null ? Model.Product.ImageUrl : "")" onerror="adjustImage()" aria-label="Imagem do produto" />
            <span id="tagImage" class="material-icons">sell</span>
        </div>
    </div>
</div>
