@page
@model GreenMVC.Pages.ProductPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Produto</h1>

<div>
    <div>
        <a class="btn btn-danger" asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a> |
        <a class="btn btn-dark" asp-page="./Index">Back to List</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>
                @Html.DisplayNameFor(model => model.Product.Name)
            </h4>
            <h4>
                @Html.DisplayFor(model => model.Product.Name)
            </h4>
        </div>
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Product.Category) :

               
            </h4>
            <h4>
                @Html.DisplayFor(model => model.Product.Category)
            </h4>
        </div>
   
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Product.Size) :

               
            </h4>
            <h4>
                @Html.DisplayFor(model => model.Product.Size)
            </h4>
        </div>
        
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Product.SKU) :

            </h4>
            <h4>
                @Html.DisplayFor(model => model.Product.SKU)
            </h4>
        </div>
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Product.Amount) :
            </h4>
            <h4>
                @Html.DisplayFor(model => model.Product.Amount)
            </h4>
        </div>
        <div class="col-sm-12">
            <h3>
                @Html.DisplayNameFor(model => model.Product.ImageUrl) :
            </h3>
            <img src="@Html.DisplayFor(model => model.Product.ImageUrl)"/>
        </div>
</div>

